html {
  font-size: 100%;
  color: white;
  font-family: "Sweet", sans-serif;

  * {
    -webkit-tap-highlight-color: transparent !important;
    -webkit-font-smoothing: antialiased;
    outline: 0;
  }
}

html,
body {
  background-color: #e2e2e3;
  margin: 0;
  width: 100%;
  min-height: 100%;
  overflow: unset !important;
  font-family: "Sweet", sans-serif !important;
}

button {
  outline: 0;
  border: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

ul,
li {
  list-style: none;
  list-style-type: none;
  padding: 0;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a,
a:visited {
  color: inherit;
}

@media all and (min-width: 992px) {
  button {
    cursor: pointer;
  }
}
