.fabrics-archive {
  padding-bottom: 70px;

  .highlights-section,
  .all-section {
    padding: 1rem 0;
    background: #e2e2e3;

    .collections-container {
      display: flex;
      flex-direction: row;
      margin: 0 -8px;
      flex-wrap: wrap;

      .collection {
        max-width: 25%;
        height: auto;
        flex: 1 0 auto;
        padding: 25px 8px;

        &::before {
          content: "";
          float: left;
          padding-top: 100%;
        }

        a {
          width: 100%;
          height: 100%;
          background-position: center;
          background-size: cover;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          font-size: 200%;
          text-transform: lowercase;
          position: relative;

          &:hover {
            text-decoration: none;
            transition-duration: .3s;

            div {
              background-color: #dd7a39;
            }

            i {
              filter: grayscale(100%) opacity(30%);
            }
          }

          div {
            width: 100%;
            padding: 10px 5px;
            transition-duration: .3s;
            color: #fff;
            background-color: rgba(102, 104, 106, .85);
            z-index: 2;
            font-size: 1.1rem;
            text-align: center;
          }

          i {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            z-index: 1;
            transition-duration: .3s;
          }
        }
      }
    }
  }

  .highlights-container {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    margin: 30px 0 0;
    flex-flow: row;

    .highlight {
      margin: 4px;
      flex: 1 0 auto;
      height: auto;
      width: 30%;

      &::before {
        content: "";
        float: left;
        padding-top: 100%;
      }

      a {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 200%;
        text-transform: lowercase;
        position: relative;
        text-align: center;

        &:hover {
          text-decoration: none;
          transition-duration: .3s;

          div {
            background-color: #dd7a39;
          }

          i {
            filter: grayscale(100%) opacity(30%);
          }
        }

        div {
          padding: 35px 40px;
          transition-duration: .3s;
          color: #fff;
          background-color: rgba(102, 104, 106, .85);
          border: 1px solid #fff;
          z-index: 2;
        }

        i {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          z-index: 1;
          transition-duration: .3s;
        }
      }
    }
  }

  h1 {
    margin: 60px 0 30px;
  }

  .highlights-section {
    padding-bottom: 60px;
  }

  .all-section {
    background-color: white;
  }
}

.fabrics-collection {
  padding-bottom: 70px;
  background: #e2e2e3;

  .archive-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 393px;
  }

  .items-list {
    .designs {
      list-style: none;
      display: block;
      margin: 20px -8px;
      padding: 0;
      text-align: center;

      li {
        display: block;
        margin: 0;
        padding: 25px 8px;
        text-align: left;
        width: 25%;

        .image {
          position: relative;
          display: block;
          transition-duration: .3s;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: cover;
        }

        h4 {
          font-size: 140%;
          text-transform: none;
          color: #dd7a39;
          margin-top: 10px;
          margin-bottom: 10px;

          a,
          a:visited {
            color: #dd7a39;
          }
        }

        a,
        a:visited {
          color: #212529;
        }
      }
    }
  }

  .row-description {
    margin-left: 0;
    margin-right: 0;
  }
}

.fabric-page {
  header {
    position: relative;
    background-color: #e2e2e3;
    height: auto;

    h1 {
      margin: 20px 0;
    }
  }

  .design-meta {
    margin: 30px 0;

    .row {
      margin-left: 0;
      margin-right: 0;

      .col-fabric-info table {
        tr {
          display: table-row;
        }

        th,
        td {
          padding: 6px 0;
          font-weight: 400;
          vertical-align: top;
        }

        th {
          padding-right: 10px !important;
          white-space: pre;
        }

        .colors b {
          display: inline-block;
          width: 15px;
          height: 15px;
          margin: 0 0 -3px;
          border: 1px solid #ddd;

          &:first-child {
            margin-left: 3px;
          }
        }
      }

      .add-to-cart.visible,
      .remove-from-cart.visible {
        display: block;
      }

      .add-to-cart,
      .remove-from-cart {
        display: none;
        padding: 12px 5px;
        font-size: 85%;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: -1px;
        color: #fff;
        background-color: #dd7a39;
      }

      .col-colors .design-colors ul {
        list-style: none;
        display: block;
        width: 100%;
        padding: 0;
        margin: 0;

        li {
          display: block;
          width: 100%;
          height: 81px;
          margin: 1px 0 0;

          a {
            display: block;
            width: 100%;
            height: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }
      }
    }

    .h3 {
      margin: 0 0 15px;
      text-transform: uppercase;
      color: #66686a;
      font-size: 115%;
      letter-spacing: -1px;
    }

    .entry-thumbnail {
      display: block;
      cursor: pointer;
      width: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }

  .form {
    background-color: #e2e2e3;
    padding: 30px 0 90px;

    .h2 {
      text-transform: uppercase;
      margin: 0 0 20px;
      font-size: 1.4rem;
      letter-spacing: -1px;
    }

    form {
      background-color: #66686a;
      color: #fff;
      padding: 30px;

      h2 {
        text-transform: uppercase;
        margin: 0 0 20px;
        font-size: 1.4rem;
      }

      .container-fluid {
        padding-left: 0;
        padding-right: 0;
      }

      .row {
        margin: 0 -5px;

        & > div {
          padding: 0 5px;
        }
      }

      input[type="text"],
      input[type="tel"],
      input[type="email"],
      textarea {
        color: #66686a;
        background-color: rgba(255, 255, 255, .41);
        border: none;
        width: 100%;
        margin: 5px 0;
        padding: 10px;
        outline: 0;
        letter-spacing: -1px;
        font-size: 16px;
      }

      input[type="checkbox"],
      input[type="radio"] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
      }

      button,
      input[type="submit"] {
        width: 100%;
        margin: 5px 0;
        padding: 9px;
        color: #fff;
        background-color: #dd7a39;
        border: 1px solid #fff;
        font-size: 90%;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .2em;
      }

      textarea {
        height: 153px;
      }

      label {
        position: relative;
        display: block;
        margin: -5px 0 0;
        padding-left: 20px;
        font-size: 75%;
        font-weight: 400;
        line-height: 1.2em;

        input {
          position: absolute;
          left: 0;
          top: 0;
        }
      }

      .wpcf7-list-item {
        margin: 0;
      }
    }
  }
}

.items-list {
  padding-bottom: 70px;

  h1 {
    margin: 35px 0 10px;
  }

  .designs {
    list-style: none;
    display: block;
    margin: 0 -8px 20px;
    padding: 0;
    text-align: center;

    li {
      display: block;
      margin: 0;
      padding: 25px 6px;
      text-align: left;

      .image {
        position: relative;
        display: block;
        transition-duration: .3s;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }

      h4 {
        font-size: 125%;
        text-transform: none;
        margin: 10px 0;
        letter-spacing: -1px;

        a {
          color: $c_main !important;
        }
      }

      & > div {
        margin: 8px 0;

        a {
          text-decoration: none;
          border-bottom: 1px solid #fff;
        }
      }
    }
  }
}

.fabrics-header {
  font-size: 12px;

  .breadcrumbs,
  .basket {
    padding: .5rem 0;
    font-size: .8rem;
    text-transform: uppercase;
    line-height: 32px;
  }

  .breadcrumbs {
    background-color: white;

    ul {
      margin: 0;

      li {
        display: inline-block;
        color: #66686a;

        a {
          display: inline-block;

          &::after {
            content: ">";
            display: inline-block;
            margin: 0 8px;
          }
        }
      }
    }
  }

  .basket {
    text-align: right;

    a {
      background-image: url("#{$imagePath}basket.svg");
      background-repeat: no-repeat;
      background-position: right 5px;
      background-size: 18px 18px;
      display: inline-block;
      padding: 0 24px 0 8px;
      text-decoration: none;
      color: #dd7a39;

      span {
        display: inline-block;
        padding: 0 3px;
        height: 32px;
        min-width: 32px;
        background-color: #dd7a39;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        margin-left: 2px;

        i {
          font-style: normal;
        }
      }
    }
  }
}

.fabrics-filters {
  padding: 1rem 0;
  background: #66686a;
  color: white;
  font-size: .9rem;

  .filters {
    display: flex;
    justify-content: space-between;
    margin: 0;

    & > li {
      display: flex;
      align-items: center;
      margin: 0 5px;
      justify-content: center;

      label {
        margin: .5rem;

        input[type="radio"] {
          margin-right: .5rem;
        }
      }

      input[type="text"] {
        padding: 6px 12px;
        border: 1px solid #ccc;
      }

      .btn-group {
        button {
          color: #333;
          background-color: #fff;
          border-color: #ccc;
          font-size: .9rem;
          border-radius: 0;
        }

        .btn {
          display: inline-block;
          margin-bottom: 0;
          font-weight: 400;
          text-align: center;
          vertical-align: middle;
          touch-action: manipulation;
          cursor: pointer;
          border: 1px solid transparent;
          white-space: nowrap;
          padding: 6px 12px;
          font-size: 14px;
          line-height: 1.429;
        }

        .dropdown-menu {
          position: absolute;
          top: 100%;
          left: 0;
          z-index: 9000;
          min-width: 142px;
          padding: 5px 0;
          margin: 2px 0 0 -1px;
          list-style: none;
          font-size: 14px;
          text-align: left;
          background-color: #fff;
          border: 1px solid #ccc;
          border: 1px solid rgba(0, 0, 0, .15);
          border-radius: 4px;
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          background-clip: padding-box;

          li {
            & > a {
              margin: 0 !important;
              clear: both;
              font-weight: 400;
              color: #333;
              display: block;
              padding: 3px 10px;
              line-height: 1.429;
              white-space: nowrap;

              label {
                margin: 0 !important;
                padding: 0 !important;
              }
            }
          }
        }
      }
    }

    button[type="submit"] {
      margin: -6px 0;
      padding: 10px 20px;
      color: #fff;
      background-color: #dd7a39;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

.fabrics-holding {
  display: flex;
  flex-direction: column;
  max-width: 750px;
  margin: 0 auto;
  padding: 0 5vw;

  .holding-image {
    height: 65vh;
    margin: 5vh 0 2.5vh;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .holding-text {
    max-height: 20vh;
    text-align: center;
    color: #66686a;
    font-size: 1.4rem !important;
    text-transform: uppercase;

    p {
      margin: 1rem 0;
    }
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .fabrics-filters {
    .filters {
      li {
        flex-direction: column;
      }
    }
  }

  .fabrics-archive {
    .highlights-container {
      .highlight {
        a {
          div {
            font-size: 1.6rem;
          }
        }
      }
    }

    .collections-container {
      .collection {
        height: 294px !important;
        width: 250px !important;
      }
    }
  }

  .fabrics-collection {
    .items-list {
      .designs {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        li {
          display: block;
          width: 250px;

          .image {
            width: 100%;
            height: 234px;
          }
        }
      }
    }
  }

  .items-list {
    .designs {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      li {
        display: block;
        width: 235px;

        .image {
          width: 100%;
          height: 234px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .fabrics-filters {
    .filters {
      flex-direction: column;

      li {
        display: flex;
        flex-direction: column;

        & > * {
          align-self: flex-start;
          width: 250px;
          margin: 10px auto !important;
        }
      }
    }
  }

  .fabrics-archive {
    .highlights-container {
      flex-direction: column;

      .highlight {
        height: 100px;
        width: 100%;

        a {
          div {
            padding: 15px 5px;
            width: 50%;
            font-size: 1.5rem;
          }
        }
      }
    }

    .collections-container {
      flex-direction: column !important;

      .collection {
        height: 294px !important;
        width: 250px !important;
        margin: 0 auto;
      }
    }
  }

  h1 {
    text-align: center;
  }

  .fabrics-holding {
    .holding-image {
      height: 50vh;
    }

    .holding-text {
      max-height: 40vh;
      font-size: 1.2rem !important;
    }
  }
}

@media (min-width: 992px) {
  .design-meta {
    .entry-thumbnail {
      height: 370px;
    }

    .row {
      display: flex;

      .add-to-cart,
      .remove-from-cart {
        position: absolute;
        top: 326px;
        left: 8px;
        right: 8px;
      }

      .col-colors {
        position: relative;

        .design-colors {
          position: absolute;
          left: 8px;
          right: 0;
          top: 42px;
          height: 328px;
          overflow-x: hidden;
          overflow-y: scroll;
        }
      }
    }

    .row > div {
      padding: 0 8px;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }

  .form {
    padding: 30px 0 120px;
  }

  .container {
    width: 970px;
  }
}

@media (max-width: 1199px) and (min-width: 992px) {
  .design-meta {
    .h3 {
      font-size: 120%;
    }

    table {
      font-size: 80%;
    }

    .col-thumbnail {
      font-size: 90%;
    }
  }
}

@media (min-width: 1200px) {
  .designs {
    display: flex !important;
    flex-wrap: wrap;

    li {
      display: block;
      width: 25%;

      .image {
        width: 273px;
        height: 273px;
      }
    }
  }
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
  }
}
