#project {
  .cgi-button {
    @include prdb;

    width: 100%;
    max-width: 300px;
    margin: 20px auto;
  }

  #back-to-top {
    @include padb;
    @include highness;

    bottom: 90px;
    left: 50%;
    margin: 0 0 0 -40px;
    height: 26px;
    width: 50px;
  }

  .back-button {
    @include prdb;
    @include box-sizing;

    padding: .4rem 1rem;
    margin: 30px auto 20px;
    width: 90px;

    img,
    p {
      @include prdib;

      vertical-align: middle;
    }

    img {
      height: .7rem;
      width: auto;
      transition: .3s ease transform;
    }

    p {
      vertical-align: middle;
      color: #838383;
      font-size: .8rem;
      margin: 0 0 0 10px;
    }

    &:hover {
      text-decoration: none;

      img {
        transform: translateX(-5px);
      }

      p {
        text-decoration: underline;
      }
    }
  }

  .page-header {
    color: $orange;
    margin-bottom: 0;
  }

  .description,
  .testimonial {
    @include prdb;
    @include box-sizing;

    text-align: center;
    padding: 20px;
    color: $grey;
    line-height: 1.5rem;
  }

  .testimonial {
    margin: 1rem auto 0;

    img {
      @include prdb;

      width: 20px;
      height: auto;
      margin: 0 auto 1rem;
    }

    p {
      color: $grey;
    }
  }

  #view-slideshow {
    margin: 15px auto;
    width: 70%;

    button {
      border: 0;
    }

    p {
      color: $grey;
    }
  }

  #back-link {
    @include padb;

    margin: 20px auto;
    width: 100%;
    height: 3rem;

    p,
    img {
      @include prdib;

      vertical-align: top;
    }

    p {
      cursor: pointer;
      font-size: .8rem;
      line-height: 1.2rem;
      color: white;
      text-transform: uppercase;
      vertical-align: middle;
    }

    img {
      height: 12px;
      margin: 16px 6px 0 0;
      transition: .3s ease transform;
    }

    &:hover {
      p {
        text-decoration: underline;
      }

      img {
        transform: translateX(-4px);
      }
    }

    &:active {
      img {
        transition: .1s ease transform;
        transform: translateX(-10px);
      }
    }
  }

  #project-image-grid {
    @include prdb;

    width: 100%;
    margin: 0;
    height: auto;
    background-color: $dark_grey;

    .project-image-row {
      @include prdb;

      width: 100%;
      overflow: hidden;
    }

    img {
      @include transform-origin(50% 50%);

      transition: .5s ease opacity, 1s ease transform;
      margin-bottom: 2px;
    }

    &.lazyload {
      @include opacityz(0);

      transform: scale(.9);
    }

    &.lazyloaded {
      @include opacityz(1);

      transform: scale(1);
    }

    &.lfw,
    &.ll,
    &.lp,
    &.pl,
    &.pp,
    &.ppp,
    &.p {
      img {
        @include prdb;

        width: 100%;
      }
    }
  }

  // SLIDESHOW
  .swiper-container {
    @include ontop;
    @include opacityz(0);

    position: fixed !important;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $dark_grey;
    overflow: hidden;

    &.show {
      @include db;
    }

    #slideshow-close-button {
      @include padb;
      @include ontop;

      top: 20px;
      right: 20px;
      width: 44px;
    }

    .arrows {
      @include dn;
    }

    .swiper-wrapper {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .swiper-slide {
        height: 100%;
        width: 100%;
        text-align: center;
        font-size: 18px;
        background: #fff;

        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;

        .slide-image {
          background-size: cover;
          background-position: center;
          height: 100%;

          &.pp {
            .slide-image {
              width: 50%;

              &:first-child {
                margin-left: -1px;
                margin-right: 1px;
              }

              &:last-child {
                margin-right: -1px;
                margin-left: 1px;
              }
            }
          }

          &.s {
            .slide-image {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

// TABLET
@media all and (min-width: 768px) {
  #project {
    #view-slideshow {
      width: 50%;
      margin: 25px auto;
    }
  }
}

// DESKTOP
@media all and (min-width: 992px) {
  #project {
    .description {
      border: 1px solid rgba(255, 255, 255, .4);
      margin: 2rem auto 0;
    }

    #back-to-top {
      @include opacityz(.5);

      cursor: pointer;
      transition: .3s ease transform, .3s ease opacity;

      &:hover {
        @include opacityz(1);

        transform: translateY(-5px);
      }
    }

    #view-slideshow {
      width: 160px;
      cursor: pointer;
    }

    #project-image-grid {
      margin: 0;
      padding: 0;

      .project-image-row {
        margin-bottom: 2px;

        img {
          margin-top: 0 !important;
          margin-bottom: 0 !important;
          padding: 0;
          vertical-align: top;
        }

        &.lfw { // Full width landscape
          img {
            @include prdb;

            width: 100%;
          }
        }

        &.ll { // 50/50 landscape

          img {
            @include prdib;

            width: 50%;

            &:first-child {
              margin-left: -1px;
              margin-right: 1px;
            }

            &:last-child {
              margin-right: -1px;
              margin-left: 1px;
            }
          }
        }

        &.lp { // 70/30 landscape/portrait

          img {
            @include prdib;

            &:first-child {
              width: 69.21%;
              margin-left: -1px;
              margin-right: 1px;
            }

            &:last-child {
              width: 30.791%;
              margin-right: -1px;
              margin-left: 1px;
            }
          }
        }

        &.pl { // 30/70 portrait/landscape

          img {
            @include prdib;

            &:first-child {
              width: 30.791%;
              margin-left: -1px;
              margin-right: 1px;
            }

            &:last-child {
              width: 69.21%;
              margin-right: -1px;
              margin-left: 1px;
            }
          }
        }

        &.pp { // 50/50 portrait/portrait

          img {
            @include prdib;

            &:first-child {
              width: 50%;
              margin-left: -1px;
              margin-right: 1px;
            }

            &:last-child {
              width: 50%;
              margin-right: -1px;
              margin-left: 1px;
            }
          }
        }

        &.ppp { // 33/33/33 portrait
          img {
            @include prdib;

            width: 33.333%;

            &:first-child {
              margin-left: -1px;
              margin-right: 1px;
            }

            &:last-child {
              margin-right: -1px;
              margin-left: 1px;
            }
          }
        }

        &.p { // Widowed portrait
          img {
            @include prdb;

            width: 50%;
            margin: auto;
          }
        }
      }
    }
  }
}

// DESKTOP
@media all and (min-width: 992px) {
  #project {
    .swiper-container {
      #slideshow-close-button {
        @include opacityz(.6);
        @include padb;
        @include ontop;

        top: 20px;
        right: 20px;
        width: 35px;
        cursor: pointer;
        transition: .3s ease opacity;

        &:hover {
          @include opacityz(1);
        }

        .arrows {
          @include padb;
          @include ontop;
          @include opacityz(.6);

          height: 80px;
          width: 50px;
          margin: -40px 0 0;
          top: 50%;
          background-position: center;
          background-size: 40%;
          background-repeat: no-repeat;
          cursor: pointer;
          transition: 1s ease transform, .4s ease opacity;

          &:hover {
            @include opacityz(1);
          }

          &:active {
            transition: .2s ease transform;

            &#left-arrow {
              transform: translateX(-5px);
            }

            &#right-arrow {
              transform: translateX(5px);
            }
          }

          #left-arrow {
            left: 0;
            background-image: url("../../resources/assets/images/arrow-left2.png");
          }

          #right-arrow {
            right: 0;
            background-image: url("../../resources/assets/images/arrow-right2.png");
          }
        }
      }
    }
  }
}
