footer {
  position: fixed;
  display: block;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
  height: 70px;
  width: 100%;
  z-index: 999 !important;

  * {
    -webkit-touch-callout: none;
    user-select: none;
  }

  a:hover {
    text-decoration: none;
  }

  #menu-container {
    position: absolute;
    display: block;
    background-color: #66686a;
    height: 350px;
    z-index: 1;
    padding: 0;
    margin: 0;
    width: 100%;

    &.open .nav-item:not(.current-menu-item),
    &.open .menu-item:not(.current-menu-item) {
      box-shadow: 0 -1px 0 0 white inset;
      color: white;
    }

    .nav-item,
    .menu-item {
      position: relative;
      display: block;
      box-sizing: border-box;
      height: 50px;
      width: 100%;
      background-color: #66686a;
      color: white;
      top: 0;
      box-shadow: none;
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      line-height: 50px;

      &#nav-item {
        box-shadow: none;
      }

      &:active:not(#footer-social) {
        background-color: #9e9d9b;
      }

      &.current-menu-item {
        color: #dd7a39;
        background-color: #5c5e60;
        box-shadow: 0 -3px 0 0 #dd7a39 inset;
      }

      & > a {
        display: block;
        height: 100%;
      }
    }
  }

  #menu {
    display: block;
    background-color: #66686a;
    z-index: 1;
    padding: 0;
    margin: 0;
    width: 100%;
  }

  #footer-social {
    display: block;

    #foot-logo-desktop {
      display: none;
    }

    p {
      text-align: right;
      margin: 0;
    }

    .brochure {
      display: none;
    }

    p,
    .social-links a {
      position: relative;
      display: inline-block;
      vertical-align: top;
    }

    .social-links {
      position: relative;
      vertical-align: top;
      height: 100%;
      float: right;

      a {
        position: relative;
        display: inline-block;
        height: 100%;
        width: 50px;
        border-left: 1px solid white;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0;
        transition: .7s ease background-color;

        i {
          position: absolute;
          display: block;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          background-image: url("#{$imagePath}channel-logos-mob.png");
          background-size: 250px 150px;
          pointer-events: none;
          transition: .7s ease transform;
        }

        .orange {
          display: none;
        }

        &:active {
          transition: .05s ease background-color;
          background-color: #9e9d9b;

          i {
            transform: scale(.8);
            transition: .05s ease transform;
          }
        }

        .twitter .black {
          background-position: 0 0;
        }

        .instagram .black {
          background-position: -50px 0;
        }

        .pinterest .black {
          background-position: -100px 0;
        }

        .linkedin .black {
          background-position: -150px 0;
        }
      }
    }
  }

  #mobile-foot-content {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #66686a;
    z-index: 2;
    padding: 0 5%;
    border-top: 1px solid #9e9d9b;

    #foot-logo,
    button {
      position: relative;
      display: inline-block;
      vertical-align: top;
    }

    #foot-logo {
      position: relative;
      display: inline-block;
      height: 40px;
      width: 166.667px;
      background-image: url("../../resources/assets/images/lj_logo_sm.jpg");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin: 18px 0 0;
    }

    button {
      float: right;
      height: 30px;
      padding: 0 10px;
      border: 1px solid white;
      border-radius: 5px;
      text-transform: uppercase;
      background-color: #66686a;
      font-size: 17px;
      margin: 20px 0 0;
      color: white;
    }

    .current-menu-item {
      color: #dd7a39;
    }
  }

  #portfolio-links,
  .sub-menu {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1095px) {
  footer #menu-container .nav-item#footer-social .social-links,
  footer #menu-container .menu-item#footer-social .social-links {
    display: none;
  }
}

@media all and (max-height: 420px) and (max-width: 992px) {
  footer {
    height: 50px;

    #menu-container {
      height: 280px;

      .nav-item,
      .menu-item {
        height: 40px;
        line-height: 40px;

        &#footer-social .social-links a {
          width: 40px;

          i {
            height: 40px;
            width: 40px;
            background-size: 200px 120px;
          }

          .instagram .black {
            background-position: -40px 0;
          }

          .pinterest .black {
            background-position: -80px 0;
          }

          .linkedin .black {
            background-position: -120px 0;
          }
        }
      }
    }

    #mobile-foot-content {
      #foot-logo {
        position: relative;
        display: inline-block;
        height: 32px;
        width: 133.333px;
        margin: 11px 0 0;
      }

      button {
        margin: 10px 0 0;
      }
    }
  }
}

@media all and (min-width: 992px) {
  footer {
    background-color: #66686a;
    transform: translateY(0);

    #portfolio-links,
    .sub-menu {
      position: absolute;
      display: block;
      width: 209px;
      height: 122px;
      background-image: url("../../resources/assets/images/portfolio-links-surround.png");
      background-size: contain;
      background-position: center;
      top: -100px;
      left: -44px;
      z-index: 1000 !important;
      transform: translateY(10px);
      -webkit-opacity: 0;
      -moz-opacity: 0;
      -ms-opacity: 0;
      -o-opacity: 0;
      opacity: 0;
      transition: .3s ease all;
    }

    #menu-container .sub-menu .portfolio-links__item,
    #menu-container .sub-menu .menu-item {
      position: relative;
      display: block;
      height: 50px;
      line-height: 58px;
      padding: 0;
      margin: auto;
      width: 203px;
      color: white;
      cursor: pointer;
      box-shadow: none;

      &:hover {
        color: #dd7a39;
      }

      &--completed {
        box-shadow: 0 -1px 0 0 #8e9193 inset;
      }
    }

    #menu-portfolio:hover #portfolio-links,
    .menu-portfolio:hover .sub-menu {
      transform: translateY(0);
      opacity: 1;
    }

    #mobile-foot-content {
      display: none;
    }

    #nav-travel-line {
      position: absolute;
      display: block;
      bottom: 0;
      left: 0;
      height: 3px;
      background-color: #dd7a39;
      width: 100px;
      z-index: 995 !important;
      transform: translateY(3px);
    }

    #menu-container {
      position: relative;
      display: inline-block;
      height: 100%;
      background: transparent;
      margin-left: 15px;
      width: 100%;

      .nav-item,
      .menu-item {
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: top;
        width: auto;
        font-size: .9rem;
        color: black;
        border: 0;
        height: 100%;
        background-color: transparent;
        padding: 0 15px;
        line-height: 70px;
        transition: .3s ease color, .3s ease background-color;

        &:not(.current-menu-item):not(#footer-social) {
          cursor: pointer;
        }

        &.current-menu-item {
          background-color: transparent;
        }

        &:hover:not(.current-menu-item):not(#footer-social) {
          background-color: #707274;
        }

        .sub-menu .menu-item:hover {
          background: none !important;
        }

        &#footer-social {
          position: absolute;
        }
      }
    }

    #menu {
      position: relative;
      display: inline-block;
      height: 100%;
      background: transparent;
      width: auto;
    }

    #footer-social {
      position: absolute;
      display: block;
      right: 30px;
      top: 0;

      #foot-logo-desktop {
        position: relative;
        display: inline-block !important;
        height: 45px;
        width: 191px;
        background-image: url("../../resources/assets/images/lj-logo.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 15px 0 0;
      }

      p,
      .social-links a {
        position: relative;
        display: inline-block;
        vertical-align: top;
      }

      p {
        text-align: right;
        text-transform: none;
      }

      #follow {
        display: none;
      }

      .brochure#brochure {
        transition: .3s ease color;
        cursor: pointer;
        margin-right: 30px;

        &:hover {
          color: #dd7a39;
        }
      }

      #dem-links {
        vertical-align: top;
        height: 30px;
        margin: 20px 0 0 30px;

        a,
        a > i {
          height: 30px;
          width: 30px;
        }

        a {
          border: 0;
          background: transparent;
          margin: 0;

          &:active {
            transform: none;
          }

          i {
            background-size: 150px 90px;
            transition: .3s ease opacity;
          }

          .black {
            z-index: 10;
          }

          .orange {
            position: absolute;
            display: block;
            opacity: 0;
            top: 0;
            left: 0;
            z-index: 1;
          }

          &:hover {
            i {
              transform: none;
            }

            .black {
              opacity: 0;
            }

            .orange {
              opacity: 1;
            }
          }
        }

        .twitter {
          .black {
            background-position: 0 0;
          }

          .orange {
            background-position: 0 -30px;
          }
        }

        .instagram {
          .black {
            background-position: -30px 0;
          }

          .orange {
            background-position: -30px -30px;
          }
        }

        .pinterest {
          .black {
            background-position: -60px 0;
          }

          .orange {
            background-position: -60px -30px;
          }
        }

        .linkedin {
          .black {
            background-position: -90px 0;
          }

          .orange {
            background-position: -90px -30px;
          }
        }
      }
    }
  }
}

@media all and (min-width: 992px) and (min-width: 1070px) {
  footer #menu-container #footer-social .brochure#brochure {
    display: inline-block;
  }
}

@media all and (min-width: 992px) and (min-width: 1200px) {
  footer #menu-container #footer-social #dem-links {
    display: inline-block;
  }
}
