$orange: #dd7a39;
$light_grey: #e2e2e3;
$grey: #9e9d9b;
$dark_grey: #66686a;
$blue: #738a98;

$facebookBlue: #3b5998;
$twitterCyan: #50aaf0;
$linkedinBlue: #0077b5;
$pinterestRed: #c92228;

$imagePath: "../../resources/assets/images/";
